body{
margin:0;
background:black;
color:#00ff00;
font-family:Courier New, monospace;
overflow:hidden;
}

#terminal{
position:absolute;
top:20px;
left:20px;
z-index:2;
}

.line{
margin:5px 0;
}

input{
background:black;
border:none;
color:#00ff00;
font-family:Courier New;
font-size:16px;
outline:none;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:1;
}